<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
     
    <h1>Welcome to <%= title %></h1>
    
    <form action="<%= action %>" method="POST">
        <input type="email" required placeholder="Emali" name="email">
        <input type="password" required placeholder="password" name="password">
        <button type="submit">Submit</button>
    </form>
    
</body>
<html>