<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
     
    <h1>Add department</h1>


    <form action="<%= action %>" method="POST">
            <% if (isUpdating) { %>
                <h2><% department_name %></h2>
                <input type="text" placeholder="Name Deparment" name="department" value="<%= department_name %>">
            <% } else { %>
                <input type="text" placeholder="Name Deparment" name="department">
            <% } %>
        <button type="submit">Submit</button>
    </form>
</body>
<html>