<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
     
    <h1>Departments</h1>
    <a href="/api/department/add">Add Department</a>
    
    <div>
        <% for(var i=0; i < personals.length; i++) {%>
            <div>
                <p class="name"><%= personals[i].personal_firstName%> <%= personals[i].personal_lastName%></p>
                <a href="/api/personal/edit/<%= personals[i].id %>" class="">Edit personal</a>
                <form action="/api/personal/delete/<%= personals[i].id %>" method="POST" style="display:inline;">
                    <input type="submit" value="Delete personal" />
                </form>
            </div>
        <%} %>
    </ul>
</body>
<html>