<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
     
    <h1>Add Personal</h1>


    <form action="<% action %>" method="POST">
        <input type="text" placeholder="First Name" name="first_name" required>
        <input type="text" placeholder="Last Name" name="last_name" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="number" placeholder="Salary" name="salary" required>
        <input type="date" placeholder="date time" name="datetime" required>
        <button type="submit">Submit</button>
    </form>
</body>
<html>